In [62]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [63]:
df=pd.read_csv(r"C:\Users\HP\Desktop\dataset\Churn_Modelling.csv")

In [64]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [65]:
df.drop(['RowNumber','CustomerId','Surname'],axis='columns',inplace=True)

In [66]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [68]:
df.shape

(10000, 11)

In [69]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [70]:
def print_unique_col_values(df):
       for column in df:
            if df[column].dtypes=='object':
                print(f'{column}: {df[column].unique()}')

In [71]:
print_unique_col_values(df)

Geography: ['France' 'Spain' 'Germany']
Gender: ['Female' 'Male']

In [72]:
df['Gender'].replace({'Female':1,'Male':0},inplace=True)

In [73]:
print_unique_col_values(df)

Geography: ['France' 'Spain' 'Germany']

In [74]:
df1 = pd.get_dummies(data=df, columns=['Geography'])

In [75]:
df1.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [76]:
df1.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,1,42,2,0.00,1,1,1,101348.88,1,1,0,0
1,608,1,41,1,83807.86,1,0,1,112542.58,0,0,0,1
2,502,1,42,8,159660.80,3,1,0,113931.57,1,1,0,0
3,699,1,39,1,0.00,2,0,0,93826.63,0,1,0,0
4,850,1,43,2,125510.82,1,1,1,79084.10,0,0,0,1

In [77]:
df1.dtypes

CreditScore            int64
Gender                 int64
Age                    int64
Tenure                 int64
Balance              float64
NumOfProducts          int64
HasCrCard              int64
IsActiveMember         int64
EstimatedSalary      float64
Exited                 int64
Geography_France       uint8
Geography_Germany      uint8
Geography_Spain        uint8
dtype: object

In [78]:
scale_columns=['CreditScore','Age','Tenure','Balance','NumOfProducts','EstimatedSalary']
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df1[scale_columns] = scaler.fit_transform(df1[scale_columns])

In [79]:
for col in df1:
    print(f'{col}: {df1[col].unique()}')

CreditScore: [0.538 0.516 0.304 0.698 1.    0.59  0.944 0.052 0.302 0.668 0.356 0.294
 0.252 0.398 0.57  0.532 0.606 0.474 0.752 0.764 0.572 0.32  0.638 0.992
 0.454 0.812 0.442 0.448 0.122 0.482 0.366 0.406 0.34  0.744 0.25  0.28
 0.908 0.464 0.244 0.23  0.412 0.968 0.62  0.852 0.958 0.574 0.4   0.696
 0.47  0.876 0.61  0.502 0.612 0.75  0.322 0.528 0.784 0.674 0.41  0.506
 0.802 0.462 0.77  0.622 0.65  0.776 0.926 0.614 0.508 0.338 0.628 0.656
 0.814 0.132 0.63  0.854 0.386 0.312 0.286 0.604 0.8   0.758 0.592 0.594
 0.916 0.348 0.838 0.76  0.33  0.846 0.928 0.72  0.126 0.546 0.64  0.544
 0.87  0.51  0.258 0.67  0.376 0.424 0.742 0.556 0.636 0.956 0.648 0.55
 0.164 0.84  0.816 0.89  0.672 0.878 0.478 0.222 0.468 0.458 0.626 0.664
 0.886 0.682 0.27  0.6   0.808 0.37  0.732 0.378 0.712 0.472 0.562 0.734
 0.9   0.666 0.708 0.53  0.634 0.268 0.26  0.456 0.324 0.512 0.494 0.856
 0.328 0.35  0.73  0.46  0.914 0.342 0.818 0.332 0.722 0.536 0.586 0.642
 0.678 0.54  0.652 0.444 0.69  0.484 0.434 0.688 0.394 0.488 0.646 0.52
 0.834 0.826 0.724 0.706 0.624 0.618 0.346 0.844 0.39  0.568 0.778 0.842
 0.662 0.388 0.692 0.832 0.754 0.686 0.414 0.362 0.296 0.602 0.882 0.766
 0.922 0.714 0.728 0.864 0.85  0.898 0.504 0.788 0.476 0.794 0.466 0.554
 0.762 0.558 0.176 0.584 0.912 0.248 0.418 0.158 0.66  0.798 0.768 0.588
 0.552 0.598 0.91  0.736 0.98  0.56  0.608 0.824 0.436 0.526 0.344 0.774
 0.596 0.186 0.58  0.38  0.22  0.486 0.902 0.522 0.904 0.79  0.266 0.68
 0.284 0.718 0.71  0.42  0.804 0.702 0.374 0.274 0.492 0.704 0.272 0.748
 0.396 0.228 0.88  0.368 0.796 0.288 0.48  0.236 0.318 0.936 0.932 0.372
 0.806 0.848 0.542 0.438 0.616 0.896 0.582 0.384 0.684 0.578 0.83  0.44
 0.576 0.498 0.564 0.858 0.354 0.428 0.966 0.308 0.984 0.316 0.134 0.496
 0.782 0.514 0.822 0.996 0.392 0.178 0.81  0.82  0.352 0.726 0.7   0.632
 0.432 0.29  0.676 0.524 0.254 0.154 0.978 0.938 0.74  0.218 0.306 0.548
 0.358 0.426 0.264 0.892 0.19  0.792 0.872 0.408 0.644 0.874 0.298 0.988
 0.2   0.93  0.976 0.906 0.772 0.566 0.5   0.658 0.334 0.884 0.786 0.276
 0.142 0.982 0.716 0.314 0.31  0.212 0.17  0.422 0.336 0.43  0.756 0.868
 0.404 0.518 0.828 0.694 0.746 0.402 0.188 0.738 0.292 0.382 0.96  0.924
 0.654 0.14  0.49  0.534 0.918 0.3   0.952 0.168 0.326 0.256 0.894 0.026
 0.098 0.226 0.86  0.204 0.45  0.974 0.888 0.948 0.156 0.946 0.862 0.998
 0.278 0.162 0.214 0.836 0.962 0.018 0.94  0.446 0.452 0.416 0.934 0.198
 0.18  0.13  0.942 0.36  0.    0.192 0.15  0.78  0.262 0.866 0.016 0.99
 0.202 0.216 0.238 0.146 0.108 0.972 0.246 0.97  0.232 0.282 0.002 0.954
 0.986 0.03  0.364 0.128 0.206 0.242 0.102 0.92  0.964 0.24  0.194 0.144
 0.95  0.16  0.172 0.152 0.116 0.994 0.136 0.174 0.12  0.208 0.114 0.21
 0.224 0.072 0.11  0.066 0.09  0.234 0.166 0.184 0.148 0.196 0.182 0.034
 0.124 0.064 0.046 0.138]
Gender: [1 0]
Age: [0.32432432 0.31081081 0.28378378 0.33783784 0.35135135 0.43243243
 0.14864865 0.12162162 0.17567568 0.08108108 0.21621622 0.09459459
 0.22972973 0.36486486 0.54054054 0.18918919 0.27027027 0.37837838
 0.24324324 0.2027027  0.2972973  0.44594595 0.58108108 0.41891892
 0.25675676 0.01351351 0.64864865 0.51351351 0.10810811 0.04054054
 0.5        0.77027027 0.05405405 0.16216216 0.13513514 0.63513514
 0.40540541 0.45945946 0.52702703 0.74324324 0.39189189 0.48648649
 0.72972973 0.02702703 0.66216216 0.82432432 0.59459459 0.47297297
 0.83783784 0.55405405 0.67567568 0.06756757 0.56756757 0.7027027
 0.60810811 0.62162162 0.         0.86486486 0.68918919 0.75675676
 0.71621622 0.78378378 0.7972973  0.94594595 0.90540541 0.89189189
 0.81081081 0.85135135 1.         0.87837838]
Tenure: [0.2 0.1 0.8 0.7 0.4 0.6 0.3 1.  0.5 0.9 0. ]
Balance: [0.         0.33403148 0.63635718 ... 0.22865702 0.29922631 0.51870777]
NumOfProducts: [0.         0.66666667 0.33333333 1.        ]
HasCrCard: [1 0]
IsActiveMember: [1 0]
EstimatedSalary: [0.50673489 0.56270874 0.56965435 ... 0.21039009 0.46442905 0.19091423]
Exited: [1 0]
Geography_France: [1 0]
Geography_Germany: [0 1]
Geography_Spain: [0 1]

In [80]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CreditScore        10000 non-null  float64
 1   Gender             10000 non-null  int64
 2   Age                10000 non-null  float64
 3   Tenure             10000 non-null  float64
 4   Balance            10000 non-null  float64
 5   NumOfProducts      10000 non-null  float64
 6   HasCrCard          10000 non-null  int64
 7   IsActiveMember     10000 non-null  int64
 8   EstimatedSalary    10000 non-null  float64
 9   Exited             10000 non-null  int64
 10  Geography_France   10000 non-null  uint8
 11  Geography_Germany  10000 non-null  uint8
 12  Geography_Spain    10000 non-null  uint8
dtypes: float64(6), int64(4), uint8(3)
memory usage: 810.7 KB

In [81]:
X = df1.drop('Exited',axis='columns')
y = df1['Exited']

In [82]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [83]:
X_train.shape

(8000, 12)

In [84]:
X_test.shape

(2000, 12)

In [85]:
X_train[:10]

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
7751,0.800,1,0.283784,0.6,0.000000,0.333333,0,0,0.096273,0,0,1
4154,0.752,0,0.216216,0.3,0.000000,0.333333,1,0,0.981478,1,0,0
3881,0.476,1,0.621622,0.3,0.000000,0.000000,1,1,0.948551,1,0,0
9238,0.846,1,0.432432,0.4,0.000000,0.333333,1,0,0.646869,1,0,0
5210,0.402,0,0.229730,0.7,0.517012,0.333333,0,0,0.434670,1,0,0
7487,0.602,1,0.513514,0.4,0.000000,0.000000,0,0,0.421898,1,0,0
7542,0.314,1,0.216216,0.4,0.000000,0.333333,1,1,0.303413,0,0,1
7524,0.620,1,0.297297,0.8,0.666330,0.000000,1,1,0.925815,1,0,0
9412,0.750,0,0.108108,0.6,0.393324,0.000000,0,0,0.668609,1,0,0
6377,0.684,0,0.202703,0.9,0.000000,0.000000,1,0,0.567526,1,0,0

In [86]:
len(X_train.columns)

12

# Build a model (ANN) in tensorflow/keras

In [87]:
import tensorflow as tf
from tensorflow import keras


model = keras.Sequential([
    keras.layers.Dense(12, input_shape=(12,), activation='relu'),
    
    keras.layers.Dense(6, activation='relu'),
   
    keras.layers.Dense(3, activation='relu'),
    
    keras.layers.Dense(1, activation='sigmoid')
])

# opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train, y_train, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 521us/step - loss: 0.6480 - accuracy: 0.6512
Epoch 2/100
250/250 [==============================] - 0s 504us/step - loss: 0.4837 - accuracy: 0.7956
Epoch 3/100
250/250 [==============================] - 0s 513us/step - loss: 0.4855 - accuracy: 0.7878
Epoch 4/100
250/250 [==============================] - 0s 507us/step - loss: 0.4587 - accuracy: 0.8033
Epoch 5/100
250/250 [==============================] - 0s 661us/step - loss: 0.4609 - accuracy: 0.7986
Epoch 6/100
250/250 [==============================] - 0s 712us/step - loss: 0.4660 - accuracy: 0.7917
Epoch 7/100
250/250 [==============================] - 0s 652us/step - loss: 0.4528 - accuracy: 0.7902
Epoch 8/100
250/250 [==============================] - 0s 692us/step - loss: 0.4364 - accuracy: 0.7978
Epoch 9/100
250/250 [==============================] - 0s 665us/step - loss: 0.4386 - accuracy: 0.7889
Epoch 10/100
250/250 [==============================] - 0s 618us/step - loss: 0.4041 - accuracy: 0.8171
Epoch 11/100
250/250 [==============================] - 0s 601us/step - loss: 0.4287 - accuracy: 0.8069
Epoch 12/100
250/250 [==============================] - 0s 526us/step - loss: 0.4051 - accuracy: 0.8208
Epoch 13/100
250/250 [==============================] - 0s 527us/step - loss: 0.4077 - accuracy: 0.8235
Epoch 14/100
250/250 [==============================] - 0s 515us/step - loss: 0.3959 - accuracy: 0.8321
Epoch 15/100
250/250 [==============================] - 0s 515us/step - loss: 0.3978 - accuracy: 0.8292
Epoch 16/100
250/250 [==============================] - 0s 519us/step - loss: 0.3888 - accuracy: 0.8358
Epoch 17/100
250/250 [==============================] - 0s 554us/step - loss: 0.3923 - accuracy: 0.8317
Epoch 18/100
250/250 [==============================] - 0s 544us/step - loss: 0.3800 - accuracy: 0.8436
Epoch 19/100
250/250 [==============================] - 0s 543us/step - loss: 0.3787 - accuracy: 0.8436
Epoch 20/100
250/250 [==============================] - 0s 635us/step - loss: 0.3671 - accuracy: 0.8439
Epoch 21/100
250/250 [==============================] - 0s 559us/step - loss: 0.3606 - accuracy: 0.8480
Epoch 22/100
250/250 [==============================] - 0s 519us/step - loss: 0.3705 - accuracy: 0.8423
Epoch 23/100
250/250 [==============================] - 0s 570us/step - loss: 0.3490 - accuracy: 0.8547
Epoch 24/100
250/250 [==============================] - 0s 641us/step - loss: 0.3644 - accuracy: 0.8463
Epoch 25/100
250/250 [==============================] - 0s 531us/step - loss: 0.3529 - accuracy: 0.8519
Epoch 26/100
250/250 [==============================] - 0s 553us/step - loss: 0.3505 - accuracy: 0.8534
Epoch 27/100
250/250 [==============================] - 0s 533us/step - loss: 0.3464 - accuracy: 0.8583
Epoch 28/100
250/250 [==============================] - 0s 511us/step - loss: 0.3447 - accuracy: 0.8566
Epoch 29/100
250/250 [==============================] - 0s 519us/step - loss: 0.3382 - accuracy: 0.8587
Epoch 30/100
250/250 [==============================] - 0s 523us/step - loss: 0.3534 - accuracy: 0.8533
Epoch 31/100
250/250 [==============================] - 0s 536us/step - loss: 0.3435 - accuracy: 0.8648
Epoch 32/100
250/250 [==============================] - 0s 629us/step - loss: 0.3367 - accuracy: 0.8644
Epoch 33/100
250/250 [==============================] - 0s 657us/step - loss: 0.3327 - accuracy: 0.8658
Epoch 34/100
250/250 [==============================] - 0s 541us/step - loss: 0.3253 - accuracy: 0.8624
Epoch 35/100
250/250 [==============================] - 0s 527us/step - loss: 0.3164 - accuracy: 0.8742
Epoch 36/100
250/250 [==============================] - 0s 510us/step - loss: 0.3488 - accuracy: 0.8547
Epoch 37/100
250/250 [==============================] - 0s 569us/step - loss: 0.3344 - accuracy: 0.8631
Epoch 38/100
250/250 [==============================] - 0s 565us/step - loss: 0.3358 - accuracy: 0.8602
Epoch 39/100
250/250 [==============================] - 0s 585us/step - loss: 0.3307 - accuracy: 0.8655
Epoch 40/100
250/250 [==============================] - 0s 557us/step - loss: 0.3229 - accuracy: 0.8680
Epoch 41/100
250/250 [==============================] - 0s 565us/step - loss: 0.3234 - accuracy: 0.8669
Epoch 42/100
250/250 [==============================] - 0s 581us/step - loss: 0.3333 - accuracy: 0.8598
Epoch 43/100
250/250 [==============================] - 0s 573us/step - loss: 0.3249 - accuracy: 0.8636
Epoch 44/100
250/250 [==============================] - 0s 533us/step - loss: 0.3258 - accuracy: 0.8690
Epoch 45/100
250/250 [==============================] - 0s 553us/step - loss: 0.3293 - accuracy: 0.8630
Epoch 46/100
250/250 [==============================] - 0s 557us/step - loss: 0.3339 - accuracy: 0.8636
Epoch 47/100
250/250 [==============================] - 0s 561us/step - loss: 0.3212 - accuracy: 0.8690
Epoch 48/100
250/250 [==============================] - 0s 585us/step - loss: 0.3288 - accuracy: 0.8645
Epoch 49/100
250/250 [==============================] - 0s 565us/step - loss: 0.3390 - accuracy: 0.8635
Epoch 50/100
250/250 [==============================] - 0s 597us/step - loss: 0.3198 - accuracy: 0.8726
Epoch 51/100
250/250 [==============================] - 0s 589us/step - loss: 0.3172 - accuracy: 0.8737
Epoch 52/100
250/250 [==============================] - 0s 661us/step - loss: 0.3312 - accuracy: 0.8626
Epoch 53/100
250/250 [==============================] - 0s 625us/step - loss: 0.3425 - accuracy: 0.8612
Epoch 54/100
250/250 [==============================] - 0s 629us/step - loss: 0.3277 - accuracy: 0.8663
Epoch 55/100
250/250 [==============================] - 0s 625us/step - loss: 0.3190 - accuracy: 0.8691
Epoch 56/100
250/250 [==============================] - 0s 585us/step - loss: 0.3259 - accuracy: 0.8678
Epoch 57/100
250/250 [==============================] - 0s 579us/step - loss: 0.3403 - accuracy: 0.8540
Epoch 58/100
250/250 [==============================] - 0s 601us/step - loss: 0.3166 - accuracy: 0.8723
Epoch 59/100
250/250 [==============================] - 0s 662us/step - loss: 0.3262 - accuracy: 0.8665
Epoch 60/100
250/250 [==============================] - 0s 589us/step - loss: 0.3331 - accuracy: 0.8646
Epoch 61/100
250/250 [==============================] - 0s 594us/step - loss: 0.3166 - accuracy: 0.8702
Epoch 62/100
250/250 [==============================] - 0s 639us/step - loss: 0.3225 - accuracy: 0.8704
Epoch 63/100
250/250 [==============================] - 0s 597us/step - loss: 0.3291 - accuracy: 0.8648
Epoch 64/100
250/250 [==============================] - 0s 581us/step - loss: 0.3314 - accuracy: 0.8599
Epoch 65/100
250/250 [==============================] - 0s 591us/step - loss: 0.3263 - accuracy: 0.8663
Epoch 66/100
250/250 [==============================] - 0s 593us/step - loss: 0.3277 - accuracy: 0.8650
Epoch 67/100
250/250 [==============================] - 0s 602us/step - loss: 0.3308 - accuracy: 0.8606
Epoch 68/100
250/250 [==============================] - 0s 644us/step - loss: 0.3234 - accuracy: 0.8720
Epoch 69/100
250/250 [==============================] - ETA: 0s - loss: 0.3211 - accuracy: 0.87 - 0s 507us/step - loss: 0.3213 - accuracy: 0.8725
Epoch 70/100
250/250 [==============================] - 0s 515us/step - loss: 0.3399 - accuracy: 0.8598
Epoch 71/100
250/250 [==============================] - 0s 537us/step - loss: 0.3295 - accuracy: 0.8691
Epoch 72/100
250/250 [==============================] - 0s 605us/step - loss: 0.3320 - accuracy: 0.8677
Epoch 73/100
250/250 [==============================] - 0s 519us/step - loss: 0.3190 - accuracy: 0.8748
Epoch 74/100
250/250 [==============================] - 0s 505us/step - loss: 0.3290 - accuracy: 0.8682
Epoch 75/100
250/250 [==============================] - 0s 503us/step - loss: 0.3282 - accuracy: 0.8680
Epoch 76/100
250/250 [==============================] - 0s 529us/step - loss: 0.3297 - accuracy: 0.8644
Epoch 77/100
250/250 [==============================] - 0s 577us/step - loss: 0.3271 - accuracy: 0.8667
Epoch 78/100
250/250 [==============================] - 0s 494us/step - loss: 0.3257 - accuracy: 0.8669
Epoch 79/100

250/250 [==============================] - 0s 492us/step - loss: 0.3354 - accuracy: 0.8628
Epoch 80/100
250/250 [==============================] - 0s 477us/step - loss: 0.3285 - accuracy: 0.8620
Epoch 81/100
250/250 [==============================] - 0s 478us/step - loss: 0.3133 - accuracy: 0.8703
Epoch 82/100
250/250 [==============================] - 0s 468us/step - loss: 0.3115 - accuracy: 0.8753
Epoch 83/100
250/250 [==============================] - 0s 569us/step - loss: 0.3201 - accuracy: 0.8671
Epoch 84/100
250/250 [==============================] - 0s 486us/step - loss: 0.3324 - accuracy: 0.8660
Epoch 85/100
250/250 [==============================] - 0s 464us/step - loss: 0.3355 - accuracy: 0.8644
Epoch 86/100
250/250 [==============================] - 0s 468us/step - loss: 0.3278 - accuracy: 0.8672
Epoch 87/100
250/250 [==============================] - 0s 473us/step - loss: 0.3291 - accuracy: 0.8662
Epoch 88/100
250/250 [==============================] - 0s 479us/step - loss: 0.3293 - accuracy: 0.8663
Epoch 89/100
250/250 [==============================] - 0s 468us/step - loss: 0.3185 - accuracy: 0.8685
Epoch 90/100
250/250 [==============================] - 0s 468us/step - loss: 0.3165 - accuracy: 0.8732
Epoch 91/100
250/250 [==============================] - 0s 472us/step - loss: 0.3269 - accuracy: 0.8651
Epoch 92/100
250/250 [==============================] - 0s 469us/step - loss: 0.3149 - accuracy: 0.8698
Epoch 93/100
250/250 [==============================] - 0s 470us/step - loss: 0.3349 - accuracy: 0.8625
Epoch 94/100
250/250 [==============================] - 0s 477us/step - loss: 0.3240 - accuracy: 0.8652
Epoch 95/100
250/250 [==============================] - 0s 485us/step - loss: 0.3260 - accuracy: 0.8681
Epoch 96/100
250/250 [==============================] - 0s 493us/step - loss: 0.3255 - accuracy: 0.8676
Epoch 97/100
250/250 [==============================] - 0s 489us/step - loss: 0.3196 - accuracy: 0.8652
Epoch 98/100
250/250 [==============================] - 0s 474us/step - loss: 0.3215 - accuracy: 0.8701
Epoch 99/100
250/250 [==============================] - 0s 471us/step - loss: 0.3411 - accuracy: 0.8611
Epoch 100/100
250/250 [==============================] - 0s 468us/step - loss: 0.3244 - accuracy: 0.8623

In [88]:
model.evaluate(X_test, y_test)

63/63 [==============================] - 0s 640us/step - loss: 0.3457 - accuracy: 0.8525

[0.34567347168922424, 0.8525000214576721]

In [89]:
yp = model.predict(X_test)
yp[:5]

array([[0.02795663],
       [0.07685858],
       [0.04436934],
       [0.09492892],
       [0.06878737]], dtype=float32)

In [90]:
y_pred = []
for element in yp:
    if element > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [91]:

y_pred[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 1]

In [92]:
y_test[:10]

7054    0
442     0
3954    0
2288    0
3196    0
6178    0
8351    0
5658    1
2065    0
413     1
Name: Exited, dtype: int64

In [93]:

from sklearn.metrics import confusion_matrix , classification_report

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.87      0.96      0.91      1595
           1       0.73      0.43      0.54       405

    accuracy                           0.85      2000
   macro avg       0.80      0.69      0.73      2000
weighted avg       0.84      0.85      0.84      2000